@font-face {
	font-family:'OpenSansExtraBold';
	src:url(OpenSansExtraBold/OpenSansExtraBold.ttf);
}
@font-face {
	font-family:'OpenSansRegular';
	src:url(OpenSansRegular/OpenSansRegular.ttf);
}
@font-face {
	font-family:'OpenSansSemiBold';
	src:url(OpenSansSemiBold/OpenSansSemiBold.ttf);
}
@font-face {
	font-family:'Lobster_1_4';
	src:url(Lobster_1_4/Lobster_1_4.otf);
}